<%
	licenses = measure('deplic')

	if licenses
		elems = licenses.data.split('|')
%>

<div class="dashbox" style="width: 100%; overflow: hidden">
  <h3><%= metric('deplic').description -%></h3>
  <table width="100%">
    <tbody>
    	<% elems.each do | elem | %>
			<%
				data = elem.split(">")
			%>
			<tr class="<%= cycle 'even','odd' -%>">
				<td style="padding: 5px">
					<table>
						<tr>
							<td style="padding-right: 5px;">
								<% if data[2].empty? %>
									<%= qualifier_icon("LIB") -%></td>
								<% else %>
									<a href="<%= data[2] -%>" title="<%= data[2] -%>">
										<%= qualifier_icon("LIB") -%>
									</a>
								<% end %>
							</td>
							<td>
								<span style="font-weight: bold"><%= data[0] %></span>
								<% if data[3] %>
									&nbsp;<%= image_tag("priority/" + data[3] + ".png", {:title => data[4]}) -%>
								<% end %>
							</td>
						</tr>
						<% if data[1] %>
						<tr>
							<td></td>
							<td colspan="2"><%= data[1] -%></td>
						</tr>
						<% end %>
					</table>
				</td>
			</tr>
		<% end %>
    </tbody>
  </table>
</div>
<% end %>